
// ************color*********
$colorPrimary: #F1CDB3;
$primaryLight: #FDDCC4;
$colorDark: #545454;
$colorDarkTwo: #4C4C4C;
$colorLight: #FFFFFF;
$colorGrey: #CDCDCD;
$colorPets: #F6F6F6;
$colorLight2: #FAFAFA;
$colorDark3:  #292929;


.container {
   width: 100%;
   max-width: 1230px;
   margin: 0 auto;
   padding: 0px 15px;
   position: relative;
}

.link-activ{
   border-bottom: 3px solid $colorPrimary;
   pointer-events: none;
}

.primary{
   color:$colorPrimary;
}
.dark{
   color:$colorDark;

}

.dark:hover{
   color: $colorDark3;
   transition: color 0.3s ease 0s;

}
.grey{
   color: $colorGrey;
   
}
.grey:hover{
   color: $colorLight2;
   transition: color 0.3s ease 0s;

}

.ligth{
   color: $colorLight;
}

.dark3{
   $colorDark3:  #292929;
}


.btn {
    max-width: 270px;
   // height: 52px;
   background: $colorPrimary;
   border-radius: 100px;
   font-family: 'Georgia';
   font-weight: 400;
   font-size: 17px;
   line-height: 130%;
   letter-spacing: 0.06em;
   color: #292929;
   padding: 15px 45px;
   transition: all 0.3s ease 0s;
}
.btn:hover{
   background: $primaryLight;
   transition: all 0.3s ease 0s;

   }

.pet-btn{
   width: 187px;
   height: 52px; border: 2px solid $colorPrimary;
   border-radius: 100px;
   padding: 12px 0;
   margin: 0 auto;
}
.pet-btn:hover{
   background: $primaryLight;
   border: none;
   }

.text {
   font-family: 'Arial';
   font-weight: 400;
   font-size: 14px;
   line-height: 173%;
}

.title {
   font-family: 'Georgia';
   font-style: normal;
   font-weight: 400;
   font-size: 35px;
   line-height: 130%;
   color: $colorDark;
   letter-spacing: 0.06em;
}
.arrow{
   width: 52px;
   height: 52px;
   border: 2px solid $colorPrimary;
   border-radius: 100px;
   font-size: 17px;
   text-align: center;

}

.arrow:hover{
   background: $primaryLight;
   border: none;
   transition: all 0.3s ease 0s;

   }
   
.footer-text{
   display: block;
   font-family: 'Georgia';
   font-weight: 400;
   font-size: 20px;
   line-height: 115%;
   color: $colorPrimary;
   letter-spacing: 0.06em;
}

.footer-text:hover{
   color: $primaryLight;
   transition: color 0.3s ease 0s;
   }