@font-face {
   font-family: 'icons';
   src:  url('../fonts/icons.ttf'), format('ttf'), url("../fonts/icons.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
 }
 
 %ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}
 
 ._icon-bowls-and-cups:before {
   content: "\e900";
   color: #f1cdb3;
 }
 ._icon-collars-or-leashes:before {
   content: "\e901";
   color: #f1cdb3;
 }
 ._icon-food:before {
   content: "\e902";
   color: #f1cdb3;
 }
 ._icon-medicines:before {
   content: "\e903";
   color: #f1cdb3;
 }
 ._icon-shampoos:before {
   content: "\e904";
   color: #f1cdb3;
 }
 ._icon-sleeping-area:before {
   content: "\e905";
   color: #f1cdb3;
 }
 ._icon-toys:before {
   content: "\e906";
   color: #f1cdb3;
 }
 ._icon-transportation:before {
   content: "\e907";
   color: #f1cdb3;
 }
 ._icon-vitamins:before {
   content: "\e908";
   color: #f1cdb3;
 }
 ._icon-Arrow:before {
   content: "\e909";
 }
 