.pet__slider{
   margin: 60px 0 0 0;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   justify-items: center;
   row-gap: 30px;
}
.navigation {
   margin-top: 57px;
   margin-bottom: 33px;
   display: flex;
   column-gap: 20px;
   justify-content: center;

   &__prew-double {
      padding-top: 3px;
   }

   &__prew-one {
      padding-top: 3px;
   }

   &__first {
      padding-top: 3px;
   }

   &__next-one {
      padding-top: 3px;
   }


   &__next-double {
      padding-top: 3px;
   }
}
.inactive{
   border: 2px solid $colorGrey;
   color: $colorGrey;
}
.active{
   background: $colorPrimary;
}

.inactive:hover{
   border: 2px solid $colorGrey;
   color: $colorGrey;
   background: $colorPets;
}



