@import'_base';
@import'_icon';
@import'_style-pet';


.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
}


.main {
   flex: 1 1 auto;
}

.bg-brown{
   background:url('../image/background/start-screen-gradient-background.png') center / cover no-repeat, url('../image/background/start-screen-background.jpg') center / cover no-repeat;
}






.header {
   min-height: 120px;

   &__body{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;
   }

		&__logo {
		}

		&__menu {
		}
}

.logo {

		&__title {
         font-family: 'Georgia';
         font-style: normal;
         font-weight: 400;
         font-size: 32px;
         line-height: 110%;
         letter-spacing: 0.07em;
		}

		&__subtitile {
         margin-top: 10px;
         font-family: 'Arial';
         font-style: normal;
         font-weight: 400;
         font-size: 13px;
         line-height: 15px;
         letter-spacing: 0.12em;
		}
}
.menu {
 
		&__list {
         display: flex;
         align-items: center;
         transition: all 0.8s ease 5s;
		}

		&__item {
       

         &:not(:last-child) {
            margin-right: 35px;
         }
		}

		&__link {
         transition: all 0.8s ease 0s;
         font-family: 'Arial';
         font-style: normal;
         font-weight: 400;
         font-size: 15px;
         line-height: 160%;
         padding-bottom: 5px;
		}
}
.not-only {
   background: url('../image/background/start-screen-puppy.png') bottom right/ auto   no-repeat;
   display: flex;
   min-height: 908px;

      &__content{
         flex: 0 1 40%;
         margin-top: 345px;
         max-width: 460px;
         padding-left: 17px;
      }
		&__title {
         max-width: 310px;
        
         font-family: 'Georgia';
         font-weight: 400;
         font-size: 44px;
         line-height: 130%;
         color:   $colorLight;
		}

		&__text {
         color: $colorGrey;
         margin-top: 40px;
        
		}

		&__button {
         margin-top: 42px;
        ;
		}
}


.main {
   flex: 1 1 100%;
}
// *********************ABOUT*************
.about {

   display: grid;
   grid-template-columns: repeat(2, 1fr );
   align-items: center;
   min-height: 588px;
   padding-top: 80px;
   padding-bottom: 100px;
		&__img {
         margin-top: 80px;
         display: block;
         max-width: 100%;
         height: auto;
         margin: 0 auto;
		}

		&__content {
         margin-top: 94px;

		}


		&__title {
         max-width: 360px;
		}

		&__text {
         margin-top: 25px;
         max-width: 410px;
		}
}
// ***************PETS*****************

.pets {


   background-color: $colorPets;
   padding-top: 80px;
   padding-bottom: 70px;
  
   &__title {
      text-align: center;
      max-width: 400px;
      margin: 0 auto;
     
   }

   &__slider {
      margin-top: 60px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      row-gap: 20px;
   }

   &__prew {
      top: 49%;
      left: 12px;
      position: absolute;
   
   }

   &__next {
      position: absolute;
      top: 49%;
      right: 14px;
   }

   &__button{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
   }
}

.slider {
   margin: 60px;
   &__card {
      
      max-height: 435px;
      background: $colorLight2;
      border-radius: 9px;
      &:not(:last-child) {
         margin-right: 10px;
      }
   }

   &__img {
   

   }
   &__img img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 9px;
   }

   &__name-pet {
      margin-top: 30px;
      font-family: 'Georgia';
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      color: $colorDark;
      text-align: center;
   }

   &__btn {
      margin-top: 30px;
      text-align: center;
      margin-bottom: 30px;
   }

   &__link{
      font-family: 'Georgia';
      font-weight: 400;
      font-size: 17px;
      line-height: 130%;
      color: #292929;
     
   


   }
}

// *************HELP**********

.help {
padding: 80px 0 100px 0;
 
   &__title {
      margin: 0 auto;
      text-align: center;
      max-width: 310px;
   
   
   }

   &__items {
      margin-top: 60px;
   }
   &__items-buttom{
      padding: 0px 131px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 30px;
      margin-top: 55px;
   }
}

.items-help {
   padding: 0px 32px;
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-auto-flow: row;

   &__item { 
      display: block;
      margin: top 55px;
      text-align: center;
   }

   &__discription {
      margin-top: 30px;
      font-family: 'Georgia';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 115%;
      letter-spacing: 0.06em;
      color: $colorDark;
   }
}

// **************donation**********
.donation {
  
   background-color: $colorPets;
   padding: 80px 0px 100px 0px;
   

		&__body {
      display: grid;
         grid-template-columns: 60% 34%;
         justify-items: end;
         align-items: center;
		}

.body-donation {
      &__img{

         justify-content: right;
      }

		&__img img{
         max-width: 100%;
         height: auto;
		}

		&__content {
         max-width: 380px;
		}

		&__title {
         max-width: 300px;
		}

		&__subtitle {
         margin-top: 20px;
         font-family: 'Georgia';
         font-weight: 400;
         font-size: 15px;
         line-height: 110%;
         color: $colorDark;
         letter-spacing: 0.06em;
		}

		&__card {
         padding: 10px 15px;
         margin-top: 20px;
         background: $colorPrimary;
         border-radius: 9px;
         max-width: 347px;
         height: auto;
         font-family: 'Georgia';
         font-style: normal;
         align-items: center;
         font-weight: 400;
         font-size: 20px;
         line-height: 115%;
         color: $colorDark;
         &::before{
            content:url(../image/donation/credit-card.svg);
            margin-right: 15px;
         }
		}

		&__info {
         margin-top: 20px;
         font-family: 'Arial';
         font-style: italic;
         font-weight: 400;
         font-size: 12px;
         line-height: 150%;
         color: #B2B2B2;
		}
}


}


// **********footer****

.footer {
 
.container{
   background: url('../image/footer/footer-puppy.png') bottom right/ auto   no-repeat;
}
   &__container {
      
      max-width: 877px;;
      min-height: 350px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 56px 0px;
   }

   &__questions {
      max-width: 280px;
   }

   &__address {
   }
}

.questions-footer {

   &__title {
      color:#FFFFFF;
    
   }

   &__email {
      position: relative;
      margin-top: 45px;
      padding-left: 60px;
      &::before{
         content:url(../image/footer/icon-email.svg);
         position: absolute;
         top: 0px;
         left: 0px;
      
      }
   }

   &__phone {
      position: relative;
      margin-top: 45px;
      padding-left: 60px;
      &::before{
         content:url(../image/footer/icon-phone.svg);
         position: absolute;
         top: 0px;
         left: 0px;
      
      }
   }
}
.address-footer {
max-width:300px;
   &__title {
      color:#FFFFFF;
      
   }

   &__sity {
      margin-top: 35px;
      padding-left: 44px;
      position: relative;
      &::before{
         content:url(../image/footer/icon-marker.svg);
         position: absolute;
         top: 0px;
         left: 0px;
      
      }
   }

   &__strit {
      margin-top: 32px;
      padding-left: 44px;
      position: relative;
      &::before{
         content:url(../image/footer/icon-marker.svg);
         position: absolute;
         top: 0px;
         left: 0px;
      
      }
   }
}





